{{#if hasAny}}
    <div class="chat__Container">
        <span class="email__Cla">{{email}}</span>
        <span class="date__Cla">{{date}}</span>
        <span class="message__Cla">{{message}}</span>
    </div>  
    {{else}}
    <h2>{{message}}</h2>
{{/if}}