{{#if hasAny}}
    <tr>
        <td class="">{{title}}</td>
        <td class=""><img class="image" alt="item img" src="{{thumbnail}}" /></td>
        <td class="">${{price}}</td>
    </tr>
    {{else}}
        <h2>{{message}}</h2>
{{/if}}
